footer {
    width: calc(100% - 80px);
    padding: 40px;
    display: flex;
    justify-content: center;
    background: #fff;
}

footer .footer-wrap {
    /* width: 1260px; */
    padding: 10px;
}

footer .footer-wrap p {
    text-align: center;
}

footer .mod-custom {
    width: 100%;
}