.list.prod__info {
    /* background: #0001;    */
    flex-wrap: nowrap !important;
}

#back_btn {
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    color: #000;
    border-radius: 6px 0 0 6px;
    text-decoration: none;
    margin: 10px;
    display: flex;
    align-items: center;
}

#back_btn img {
    width: 50px;
    height: 50px;
    background-size: cover;
}

#back_btn:hover {
    background-color: #0001;
}

.product__mat {
    /* background: #0001; */
    width: calc(50% - 40px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.product__mat img {
    height: 300px;
}

.product-info {
    padding: 10px;
}